.controllBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.controllBtn {
  width: auto;
  font-size: 1.125rem;
  background-color: var(--accent);
  color: var(--accent-text);
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.controllBtn:hover:not(:disabled) {
  background-color: var(--hover);
}

.controllBtn:disabled {
  background-color: var(--disabled);
  color: var(--accent-text);
  cursor: not-allowed;
}

.pageBtnContainer {
  display: none;
  justify-content: center;
  align-items: flex-end;
  color: var(--accent);
}

.pageBtn {
  height: fit-content;
  width: fit-content;
  background-color: var(--bg);
  color: var(--accent);
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.active {
  background-color: var(--accent);
  color: var(--accent-text);
}

.pageBtn:hover {
  background-color: var(--hover);
  color: var(--accent-text);
}

@media (min-width: 48rem) {
  .pageBtnContainer {
    display: flex;
  }
}
