:root {
  --bg: #181022;
  --text: #fdf4ff;
  --accent: #f0abfc;
  --accent-text: #2e1065;
  --focus: #22d3ee;
  --hover: #e879f9;
  --disabled: #d6d3d1;
  --zebra: #2a1838;
  --error: #ff0000;
  --error-bg: #fff2f2;
  --error-text: #8a1f1f;
  --error-border: #f3b4b4;
}

:global(*),
:global(*::after),
:global(*::before) {
  box-sizing: border-box;
}

:global(body) {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

.tableWrapper {
  overflow: auto;
  max-width: 100%;
  max-height: 75vh;
}

.tableWrapper td,
.tableWrapper th {
  white-space: nowrap;
  padding: 0.5rem;
  text-align: left;
}

.tableWrapper th {
  background-color: var(--accent);
  color: var(--accent-text);
  position: sticky;
  top: 0;
}

.tableWrapper tbody tr:nth-child(even) {
  background-color: var(--zebra);
}

@media (min-width: 48rem) {
  .tableWrapper table {
    width: 100%;
  }
}
